<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="logo.png" class="logo">
            <ul>
                <li><a href="/logout">Log out!</a></li>
                <li><a href="#">SOMETHING</a></li>
                <li><a href="#">SOMETHING</a></li>
                <li><a href="#">SOMETHING</a></li>
            </ul>

        </div>
    </div>

    <div class="content">
        <h2>Hello, {{user['name']}}</h2>
        <h1>Your balance: {{user['balance']}}</h1>
        <div>
            <a href="/transfer"><button><span></span>Transfer Money</button></a>
            <a href="/history"><button><span></span>Account History</button></a>
            <a href="#"><button><span></span>Leaderboard</button></a>
        </div>
    </div>

    
</body>
</html>