<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Home</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="logo.png" class="logo">
            <ul>
                <li><a href="#">SOMETHING</a></li>
                <li><a href="#">SOMETHING</a></li>
                <li><a href="#">SOMETHING</a></li>
                <li><a href="#">SOMETHING</a></li>
            </ul>

        </div>
    </div>

    <div class="content">
        <h3>THIS AMOUNT OF USERS</h3>
        <h1>THIS AMOUNT OF MONEY TRANSFERRED</h1>
    </div>

    
</body>
</html>