<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Log in</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="../static/media/logo.png" class="logo">
            <ul>
                <li><a href="#">Log in to access all of our features!</a></li>
            </ul>

        </div>
    </div>

    <div class="content">
        <h2>{{num_of_users}} users have already signed in</h2>
        <h1>${{total_amount_stored}} have been VERY SAFELY secured in our bank</h1>
        <h3>0 encryption, you know, the whole deal</h3>
    </div>

    <div class="center">
        <h1>Login</h1>
        <form action="/" method="POST">
            <div class="txt_field">
                <input type="email" name="email" required>
               <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="forgot_password"><a href="/we_do_not_care">Forgot Password?</a></div>    
            <input type="submit" value="Log in">
        </form>
        <div class="signup_link">Not a member?<a href="/signup"> Sign up!</a></div>
    </div>
    
</body>
</html>