<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Log in</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="logo.png" class="logo">
            <ul>
                <li><a href="#">SOMETHING</a></li>
                <li><a href="#">SOMETHING</a></li>
                <li><a href="#">SOMETHING</a></li>
                <li><a href="#">SOMETHING</a></li>
            </ul>

        </div>
    </div>

    <div class="content">
        <h3>{{num_of_users}} users have already signed in</h3>
        <h1>${{total_amount_stored}} have been VERY SAFELY secured</h1>
    </div>

    <div class="center">
        <h1>Login</h1>
        <form action="/" method="POST">
            <div class="txt_field">
                <input type="email" name="email" required>
               <span></span>
                <label>Email</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="forgot_password">Forgot Password?</div>    
            <input type="submit" value="Log in">
        </form>
        <div class="signup_link">Not a member?<a href="/signup"> Sign up!</a></div>
    </div>
    
</body>
</html>