<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/transfer.css">
    <title>Transfer Moneyz</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="logo.png" class="logo">
            <ul>
                <li><a href="/signup">Sign up!</a></li>
                <li><a href="#">SOMETHING</a></li>
                <li><a href="#">SOMETHING</a></li>
                <li><a href="#">SOMETHING</a></li>
            </ul>

        </div>
    </div>

    <div class="content">
        <h1>Money Transfer</h1>
        <form method="POST" action="/transfer">
            <input type="email" placeholder="{{user['email']}}" disabled>
            <span>
                <div class="autocomplete">
                </div><input id="email" type="email" name="other_email" placeholder="Other Email"></span>
                <input type="number" name="amount" placeholder="Amount">
            <input type="submit" value="Transfer Money">
        </form>
        <p id="test"></p>
    </div>

    <script type="text/javascript" src="../static/js/transfer.js"></script>
    </body>
</html> 