<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Account History</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="../static/media/logo.png" class="logo">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/transfer">Make a payment</a></li>
                <li><a href="/logout">Log out!</a></li>
            </ul>

        </div>
    </div>

    <div class="content">
        <h1>All of our current users:</h1>
    </div>

    <div class="center">
        {% for loginId, user_info in users.items() %}
        <div class="operation">
            <h3>{{user_info['name']}}</h3>
            <h4>Balance: {{user_info['balance']}}</h4>
        </div>
        {% endfor %}
    </div>
    
</body>
</html> 